<html>
    <head>
        <title>Blog!</title>
    </head>
    <body>
        <div>
            <form role="form">
            <div id="message_output" class="row">
               <div class="col-md-4">
               </div>
               <!-- columns 1 to 4  -->
               <!-- columns 5 to 10 -->
               <div class="col-md-4">
               </div>
            </div>
            <!-- row -->
            <br />  <!-- a little vertical space -->
            <!-- Although we do not use tables for general page layout, they are
               appropriate for something that really is a table, like this
               one.  We allocate it the full 12 columns of the bootstrap grid.
               -->
            <div class="row">
               <div class="col-md-12">
                  <table class="control_time_table">
                     <tr>
                        <th> Km </th>
                        <th>Open</th>
                        <th>Close</th>
                     </tr>
                     {% for row in range(20) %}
                     <tr class="control">
                        <!-- Dist (km) -->
                        <td><input name="km" type="number" step="0.00001"
                           min="0" max="1200" /> </td>
                        <!-- Location (optional) -->
                        <!-- Open time (read only, set by JavaScript function -->
                        <td><input name="open" type="datetime-local" readonly value="" /></td>
                        <!-- Close time (read only, set by JavaScript function -->
                        <td><input name="close" type="datetime-local" readonly value="" /></td>
                        <!-- Notes (error messages for this row) -->
                     </tr>
                     {% endfor %}
                  </table>
               </div>
               <!-- col -->
            </div>
            <!-- row -->
         </form>
        </div>
        <div>
            {% for article in items %}
            <div>
                <h1>{{ article.title }}</h1>
                <p>{{ article.body }}</p>
            </div>
            {% endfor %}
        </div>
    </body>
</html>
